In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df = pd.read_csv('all_months_clean.csv', sep=';')

In [48]:
df.head()

,order_id,total_qty,total_weight_gr,total_returned_qty,Total Diskon,product_categories,num_product_categories,Status Pesanan,Alasan Pembatalan,Opsi Pengiriman,Metode Pembayaran,Kota/Kabupaten,Provinsi,Ongkos Kirim Dibayar oleh Pembeli,Estimasi Potongan Biaya Pengiriman,Total Pembayaran,Perkiraan Ongkos Kirim,Waktu Pesanan Dibuat,source_file
0,ORD_0000001,2,2000,0,0,Celengan,1,Selesai,NaN,Reguler (Cashless)-SPX Standard,Saldo ShopeePay,KOTA SERANG,BANTEN,0,10000,38300,10000,2024-04-01 00:15,AprilSales2024.xlsx
1,ORD_0000002,1,500,0,0,Celengan,1,Selesai,NaN,Hemat Kargo-SPX Hemat,COD (Bayar di Tempat),KOTA SEMARANG,JAWA TENGAH,0,14500,18576,14500,2024-04-01 01:47,AprilSales2024.xlsx
2,ORD_0000003,1,500,0,0,Celengan,1,Selesai,NaN,Hemat Kargo-SPX Hemat,SeaBank Bayar Instan,KAB. BOGOR,JAWA BARAT,0,8000,7069,8000,2024-04-01 04:25,AprilSales2024.xlsx
3,ORD_0000004,2,400,0,0,Mangkok Sambal / Saus,1,Selesai,NaN,Hemat Kargo-SPX Hemat,COD (Bayar di Tempat),KOTA JAMBI,JAMBI,0,20000,32200,20000,2024-04-01 04:41,AprilSales2024.xlsx
4,ORD_0000005,3,3600,0,0,"Keranjang, Other, Tempat Nasi",3,Batal,Dibatalkan oleh Pembeli. Alasan: Ubah Pesanan ...,Hemat Kargo-SPX Hemat,COD (Bayar di Tempat),KOTA TANGERANG,BANTEN,0,0,0,8000,2024-04-01 06:12,AprilSales2024.xlsx

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20848 entries, 0 to 20847
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   order_id                            20848 non-null  object
 1   total_qty                           20848 non-null  int64
 2   total_weight_gr                     20848 non-null  int64
 3   total_returned_qty                  20848 non-null  int64
 4   Total Diskon                        20848 non-null  int64
 5   product_categories                  20848 non-null  object
 6   num_product_categories              20848 non-null  int64
 7   Status Pesanan                      20848 non-null  object
 8   Alasan Pembatalan                   2830 non-null   object
 9   Opsi Pengiriman                     20848 non-null  object
 10  Metode Pembayaran                   20848 non-null  object
 11  Kota/Kabupaten                      20848 non-null  object
 12  Provinsi                            20848 non-null  object
 13  Ongkos Kirim Dibayar oleh Pembeli   20848 non-null  int64
 14  Estimasi Potongan Biaya Pengiriman  20848 non-null  int64
 15  Total Pembayaran                    20848 non-null  int64
 16  Perkiraan Ongkos Kirim              20848 non-null  int64
 17  Waktu Pesanan Dibuat                18868 non-null  object
 18  source_file                         20848 non-null  object
dtypes: int64(9), object(10)
memory usage: 3.0+ MB

In [50]:
df['Waktu Pesanan Dibuat'] = pd.to_datetime(df['Waktu Pesanan Dibuat'])
df['Waktu Pesanan'] = pd.to_datetime(df['Waktu Pesanan Dibuat'], format='%d/%m/%Y')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20848 entries, 0 to 20847
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   order_id                            20848 non-null  object
 1   total_qty                           20848 non-null  int64
 2   total_weight_gr                     20848 non-null  int64
 3   total_returned_qty                  20848 non-null  int64
 4   Total Diskon                        20848 non-null  int64
 5   product_categories                  20848 non-null  object
 6   num_product_categories              20848 non-null  int64
 7   Status Pesanan                      20848 non-null  object
 8   Alasan Pembatalan                   2830 non-null   object
 9   Opsi Pengiriman                     20848 non-null  object
 10  Metode Pembayaran                   20848 non-null  object
 11  Kota/Kabupaten                      20848 non-null  object
 12  Provinsi                            20848 non-null  object
 13  Ongkos Kirim Dibayar oleh Pembeli   20848 non-null  int64
 14  Estimasi Potongan Biaya Pengiriman  20848 non-null  int64
 15  Total Pembayaran                    20848 non-null  int64
 16  Perkiraan Ongkos Kirim              20848 non-null  int64
 17  Waktu Pesanan Dibuat                18868 non-null  datetime64[ns]
 18  source_file                         20848 non-null  object
 19  Waktu Pesanan                       18868 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(9), object(9)
memory usage: 3.2+ MB

In [55]:
df.groupby(['Alasan Pembatalan', 'Opsi Pengiriman'])['order_id'].nunique()

Alasan Pembatalan                                                      Opsi Pengiriman
Dibatalkan oleh Pembeli. Alasan: Lainnya                               GrabExpress Instant       1
                                                                       Hemat Kargo              26
                                                                       Hemat Kargo-SPX Hemat     1
                                                                       Instant (Versi Lama)      7
                                                                       Next Day                  1
                                                                                                ..
Dibatalkan secara otomatis oleh sistem. Alasan: Pesanan belum dibayar  SPX Express Point         1
                                                                       SPX Hemat                 8
                                                                       SPX Instant               1
                                                                       SPX Standard              2
                                                                       Same Day                  6
Name: order_id, Length: 159, dtype: int64